
#page {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

td.input {
  padding: 0;
  input {
    padding: .78571429em;
    border: none;
    &:focus {outline:0;}
    text-align: center;
    width: 100px;
  }
}

tr .qty-input input {
  border: 1px solid #fff;
}

tr.hover .qty-input input {
  border: 1px solid red;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 40px;
  margin: 25px 0;
  text-align: center;
}

.my-net-worth {
  text-align: center;
  padding: 25px;
  border: 1px solid #ccc;
  font-size: 24px;
}

footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin: 100px 0;
}

.donation-addresses {
  margin-top: 25px;
}

div.mobile.only {
  display: none;
}

@media (max-width: 1020px) {
  #page {
    padding: 0 10px;
  }
}

@media (max-width: 775px) {
  td, th {
    display: none;
    &.mobile {
      display: table-cell;
    }
  }
  div.mobile.only {
    display: block;
  }
  tr .qty-input input {
    border: 1px solid #eee;
    //background-color: #f0f0f0;
  }
}
