<div id="page">
  <header>
    <a href="https://hotwallet.com">
      <span style="color: #f00;">
        CryptoNetWorth is no longer being maintained.
      </span>
      <span>
        Please upgrade to our new website:
      </span>
      <span class="logo">
        <img
          src="https://hotwallet.com/hotwallet-144x144.png"
          width="50"
          height="50"
        />
        <em>HotWallet</em>
      </span>
    </a>
  </header>
  <h1>
    My Crypto Net Worth
  </h1>
  <main>
    {{{main}}}
  </main>
  <footer>
    <div>
      Real-time price feed courtesy
      <a href="http://coinmarketcap.com/">coinmarketcap.com</a>
    </div>
    <div>
      View the source of this app on
      <i class="fa fa-github"></i>
      <a href="https://github.com/will123195/cryptonetworth">Github</a>
    </div>
    <ul class="donation-addresses">
      <li><h3>Thank You For Your Donations!</h3></li>
      <li>LTC: <code>{{donationAddress.LTC}}</code></li>
      <li>ETH: <code>{{donationAddress.ETH}}</code></li>
    </ul>
  </footer>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44029858-6', 'auto');
  ga('send', 'pageview');

</script>